
.jumbotron {
  background-image:url('http://y.photo.qq.com/img?s=n0m7YMg0L&l=y.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 110px;
}

.title {
  font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 80px;
}

.slogan {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  top: 12px;
}

.lead {
  margin-bottom: 60px;
  text-align: center;
  color: white;
}

.carousel-inner .item img {
  background: center fixed;
  width: 100%;
  height: 900px;
  margin: auto;
  background-size: cover;
}

.carousel-inner .item  h2 {
  color: black;
}
.carousel-caption {
  bottom: -35px;
}
.carousel-caption span.small{
  font: 20px bold;
  color: black;
}
.carousel-caption span.large {
  font: 30px bold;
  color: black;
}
